div {
    display: flex;
}

.main {
    align-items: center;
    flex-direction: column;
}

/* .choiceDiv {
} */

.main .button {
    flex: 0 0 auto;
    padding: 20px;
    margin: 0 20px;
}

.body {
    flex-direction: column;
    align-items: center;
}

.result,
.counter {
    flex-direction: column;
    align-items: center;
}